/* Replace with own style */
@require "theme-topcoat-desktop-light"

/* Styles from topcoat-theme/src/includes */
@require "includes/reset"
@require "includes/global"
@require "includes/layout"
@require "includes/icons"
@require "includes/position"

@require "topcoat-button"
@require "topcoat-navigation-bar"

html
  // global base size for all elements
  font-size 30px

body
  background: white

a
  text-decoration none
  color: inherit

