@import "vendor/icomoon"
@import "vendor/normalize"
@import "vendor/webflow"
@import "vendor/hint"
@import "whybug.webflow"
@import 'navigation'

body
  background-color: #F2F2F2

section
  background-color: white

a
  cursor: pointer
  text-decoration: none

.content-block
  display: block


