@import "vendor/icomoon"
@import "vendor/normalize"
@import "vendor/webflow"
@import "vendor/hint"
@import "vendor/github_markdown"
@import "whybug.webflow"
@import "navigation"
@import 'language-picker'
@import 'spinner'

body
  background-color: #F2F2F2

section
  background-color: white

a
  color: #5A8561
  cursor: pointer
  text-decoration: none

.content-block
  display: block

.react-markdown-textarea__preview
  @extend .markdown-body
  @extend .content-block
  margin-top: 0
  min-height: 150px

.react-markdown-textarea__nav
  @extend .language-picker
  padding-left: 0

.react-markdown-textarea__nav__item
  @extend .language-picker__item
  @extend .nav-link

.react-markdown-textarea__nav__item:first-child
  border-bottom-left-radius: 0px

.react-markdown-textarea__nav__item:last-child
  border-bottom-right-radius: 0px

.react-markdown-textarea__nav__item--active
  @extend .active
  border-bottom: none

.react-markdown-textarea__textarea
  margin-bottom: 20px

.react-markdown-textarea__save-button
  @extend .button
  @extend .submit-button
  @extend .small

